body{
	background-color:green;
	width: 90%;
	height: 90%;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	color: white;
}
a{
	text-align: center;
	width: 500px;
	color: yellow;
}
.un{
	background-color: black;
}

.contenedor {
	width: 1280px;
	margin: 10px auto;
	padding: 10px 10px 0 10px;
	border: 1px solid #ccb;
}

/* Cabecera */

.contenedor > .cabecera {
	color: #aaf;
	background-color: #80808a;
	padding: 5px;
}

.contenedor > .cabecera h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 2px #cac;
}

/* Menú */

.contenedor > .menu {
	/*color: #800080;*/
	border-top: 1px solid #bca;
}

.contenedor > .menu ul {
	list-style: none;
	line-height: 1.5em;
	text-align: center;
}

.contenedor > .menu ul li {
	display: inline;
	margin-left: 20px;
}
.contenedor > .menu a:link, a:visited, a:hover, a:active {
	/*color: #ff0080;*/
	text-decoration: none;
}

/* Cuerpo */

.contenedor > .cuerpo {
	border-top: 1px solid #cbc;
}

.contenedor > .cuerpo h1 {
	color: #811080;
	font-size: 1.3em;
	text-align: right;
}

.contenedor > .cuerpo dl dt {
  float: left;
  clear: left;
  width: 28%;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  /*color: #000;*/
}

.contenedor > .cuerpo dl dd {
  margin: 0 0 0 30%;
  padding: 0 0 0.5em 0;
  font-family: monospace;
}

.contenedor > .cuerpo form fieldset input {
  /*color: #fff;*/
  background-color: #af0;
  border: none;
  padding: 5px;
}

/* Pie */

.contenedor .pie {
	/*color: 	#555;*/
	border-top: 1px solid #cccccc;
	padding: 5px 0;
	margin-top: 50px;
}

.contenedor .pie p {
	padding: 0;
	margin: 5px 0;
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

#bien{
	background-color: #00fa00;
	color: #000000;
}